/* root */
:root {
    --primary-color: #192b72;
    --text-shadow-color: #606060;
    --text-color: #0f0f0f;
    --bg-color: #f6f6f6;
    --body-bg: #f2f4f8;
}

/* all */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none !important;
    text-wrap: wrap;
}

/* hover */
.hover:hover {
    color: var(--primary-color);
}

/* font-weight */
.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

@media (min-width: 1900px) {
    .container {
        max-width: 1800px !important;
    }
}