/* import */
@import url("root.css");

/* all */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none !important;
    text-wrap: wrap;
}

/* hover */
.color-hover:hover {
    color: var(--primary-color);
}

.bg-hover:hover {
    background-color: var(--primary-color);
}

body {
    user-select: none;
    background-color: var(--body-bg-color);
}

/* all */
.btn:active {
    border-color: transparent !important;
}

.form-control:focus {
    box-shadow: none !important;
}

/* font-weight */
.fw-4 {
    font-weight: 400 !important;
}

.fw-5 {
    font-weight: 500 !important;
}

.fw-6 {
    font-weight: 600 !important;
}

.fw-7 {
    font-weight: 700 !important;
}

.fw-8 {
    font-weight: 800 !important;
}

.fw-9 {
    font-weight: 900 !important;
}

@media (min-width: 320px) {

    /* nav */
    /* logo */
    .navbar {
        background-color: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
    }

    .logo a {
        font-size: 25px;
        color: var(--primary-color);
    }

    .menu-m {}
    .menu-m ul {
        gap: 12px;
    }
    .menu-m ul li {
        font-size: 16px;
        background-color: var(--bg-color);
        border-radius: 8px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .menu-m ul li a {
        color: var(--primary-color);
    }
}

/* XXX-Large devices (larger desktops, 1600px and up) */
@media (min-width: 1600px) {
    .container {
        width: 1500px !important;
        max-width: 1500px !important;
    }

    .col-3xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-3xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-3xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-3xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-3xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-3xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-3xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-3xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-3xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-3xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-3xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-3xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }

}

/* XXXX-Large devices (larger desktops, 1880px and up) */
@media (min-width: 1880px) {

    /* container */
    .container {
        width: 1800px !important;
        max-width: 1800px !important;
    }

    .col-4xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-4xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-4xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-4xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-4xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-4xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-4xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-4xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-4xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-4xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-4xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-4xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}